body {
  z-index: 0;
  height: 1200px;
  background-color: #f4f3ea;
}

.navbar {
  z-index: 99;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px #000000;
}

.navbar .navbar-inner {
  color: white;
  background: black;
}

.navbar .nav,
.navbar p {
  font-size: 18px;
  font-weight: bold;
}

.navbar .nav > li > a {
  color: white;
}

.navbar p {
  float: right;
  width: 300px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 43px;
  text-align: center;
  background-color: #C8602C;
}

header {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  color: white;
  background: transparent url('../img/header-bg.png') no-repeat center -10px;
}

header .wrapitup {
  width: 960px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  color: #f2efce;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

header .wrapitup p {
  width: 520px;
  padding: 215px 0 0 460px;
  margin: 0;
}

.main .intro-banner {
  width: 446px;
  height: 39px;
  padding: 14px 0 0px 0px;
  margin: 0 auto;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  background: transparent url("../img/banner.png") no-repeat top center;
}

.purpose {
  width: 680px;
  margin: 0 auto;
}

.purpose p {
  padding: 0 30px;
  margin: 0.5em 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.purpose .shrink {
  padding: 0;
  letter-spacing: -2px;
}

.purpose .shrink span {
  padding: 15px;
}

.row.separate {
  margin-top: 72px;
}

.subject {
  text-align: center;
}

.subject .caption {
  font-size: 16px;
}

@media only screen and (min-width: 1200px) {
  
}

@media only screen and (min-width: 979px) and (max-width: 1199px) {
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 361px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 978px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 168px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  header {
    margin-left: -143px;
  }
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 0;
    margin: 0;
    font-size: 26px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  header {
    margin-left: -20px;
  }
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 0;
    margin: 0;
  }
}
