body {
  z-index: 0;
  height: 1200px;
  -webkit-font-smoothing: antialiased;
  background-color: #f4f3ea;
}

.navbar {
  z-index: 101;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px #000000;
}

.navbar .navbar-inner {
  color: white;
  background: #101010;
}

.navbar .nav,
.navbar p {
  font-size: 18px;
  font-weight: bold;
}

.navbar .nav > li > a {
  color: white;
}

.navbar p {
  float: right;
  width: 300px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 43px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #C8602C;
}

header {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  color: white;
  background: transparent url('../img/header-bg.png') no-repeat center -10px;
}

header .wrapitup {
  width: 960px;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  color: #f2efce;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

header .wrapitup p {
  width: 520px;
  padding: 215px 0 0 460px;
  margin: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

footer {
  height: 120px;
  padding-top: 32px;
  margin-top: 32px;
  text-align: center;
  background: #101010;
}

footer p {
  font-size: 16px;
  color: #a9a9a9;
}

footer p .space {
  padding: 0 12px;
}

footer p a {
  color: inherit;
}

.main .intro-banner {
  width: 446px;
  height: 39px;
  padding: 14px 0 0px 0px;
  margin: 0 auto;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  background: transparent url("../img/banner.png") no-repeat top center;
}

.purpose {
  width: 700px;
  margin: 0 auto;
}

.purpose p {
  padding: 0 30px;
  margin: 0.5em 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.purpose .shrink {
  padding: 0;
  letter-spacing: -2px;
}

.purpose .shrink span {
  padding: 15px;
}

.row.separate {
  margin-top: 72px;
}

.subject {
  text-align: center;
}

.subject .caption {
  margin-top: 4px;
  font-size: 16px;
}

.map-callout-wrapper {
  z-index: 99;
}

.map-callout-wrapper .map-callout {
  position: absolute;
  z-index: 99;
  padding: 18px;
  margin-top: -224px;
  background: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.map-callout-wrapper .map-callout p {
  font-size: 20px;
  line-height: 24px;
  color: black;
}

.sponsors {
  text-align: center;
}

.sponsors p {
  font-size: 16px;
  font-weight: bold;
  color: #a9a9a9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.sponsors ul li {
  display: inline-block;
  padding-left: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

.sponsors ul li:first {
  padding-left: 0;
}

.map-canvas-wrapper {
  width: 100%;
  padding: 12px 0;
  margin: 48px 0;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
}

.map-canvas-wrapper #map-canvas {
  width: 100%;
  height: 380px;
}

@media only screen and (min-width: 1200px) {
  
}

@media only screen and (min-width: 979px) and (max-width: 1199px) {
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 361px;
    margin: 0;
  }
  .map-callout-wrapper .map-callout p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 978px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 168px;
    margin: 0;
  }
  .map-callout-wrapper .map-callout p {
    font-size: 14px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  nav {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  header {
    margin-left: -20px;
  }
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 0;
    margin: 0;
  }
  .purpose {
    width: 480px;
  }
  .purpose p {
    font-size: 22px;
  }
  .map-callout-wrapper .map-callout p {
    font-size: 14px;
  }
  footer p .space {
    display: block;
  }
}

@media (max-width: 480px) {
  body {
    padding-right: 0;
    padding-left: 0;
  }
  nav {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-fixed-top {
    margin-bottom: 0;
  }
  header {
    margin-left: -143px;
  }
  header .wrapitup p {
    width: 359px;
    padding: 266px 0 0 24px;
    margin: 0;
    font-size: 22px;
  }
  .purpose {
    width: 400px;
    margin-left: -18px;
  }
  .purpose p {
    font-size: 16px;
  }
  .purpose .shrink {
    letter-spacing: -1px;
  }
  .main .intro-banner {
    margin-left: -42px;
  }
  .map-callout-wrapper .map-callout p {
    font-size: 14px;
  }
  footer p .space {
    display: block;
  }
}
