@boxShadow: 0px 0px 15px #000;
@offWhite: #F2EFCE;
@black: #101010;
@grayDark: lighten(@black, 40%);
@gray: lighten(@black, 60%);

// mixins

.antialias() {
  -webkit-font-smoothing: antialiased;
}

.embossed() {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  // text-shadow: #555 0px 2px 3px;
}

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.multi-box-shadow(@style1, @style2, @alpha: 50%) {
  box-shadow:         @style1 rgba(0, 0, 0, @alpha), @style2 rgba(0, 0, 0, @alpha);
  -webkit-box-shadow: @style1 rgba(0, 0, 0, @alpha), @style2 rgba(0, 0, 0, @alpha);
  -moz-box-shadow:    @style1 rgba(0, 0, 0, @alpha), @style2 rgba(0, 0, 0, @alpha);
}

// styling

body {
	z-index: 0;
	height: 1200px;
	background-color: #f4f3ea;
  // letter-spacing: 1px;
  .antialias();
}

.navbar {
	text-transform: uppercase;

  .navbar-inner {
    background: @black;
    color: white;
  }

  .nav, p {
    font-size: 18px;
    font-weight: bold;
  }

  .nav > li > a {
    color: white;
  }

  p {
    text-align: center;
    float: right;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #C8602C;
    line-height: 43px;
    width: 300px;
    .embossed();
  }

	// ul {
	// 	float: left;
	// 		li {
	// 		display: inline;
	// 		padding: 0 10px;
	// 		a {
	// 			color: white;
	// 			text-decoration: none;
	// 			line-height: 43px;
	// 		}
	// 	}
	// }

	// p {
	// 	text-align: center;
	// 	float: right;
	// 	margin: 0;
	// 	margin-top: 0;
	// 	margin-bottom: 0;
	// 	background-color: #C8602C;
	// 	line-height: 43px;
	// 	width: 300px;
	// }

	z-index: 101;
	-webkit-box-shadow: @boxShadow;
}

header {
	background: transparent url('../img/header-bg.png') no-repeat center -10px;
	height: 500px;
	margin: 0 auto;
	color: white;
	width: 1200px;
	//-moz-transform: rotate(-1deg);
	//-webkit-transform: rotate(-1deg);
	//-moz-box-shadow: $boxShadow;
	//-webkit-box-shadow: $boxShadow;
	.wrapitup {
		color: @offWhite;
		margin: 0 auto;
		width: 960px;
		-webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
            transform: rotate(-4deg);
		font-weight: bold;
		font-size: 30px;
    line-height: 40px;
		p {
      .embossed();
			width: 520px;
			padding: 215px 0 0 460px;
			margin: 0;
		}
	}
}

footer {
  background: @black;
  text-align: center;
  height: 120px;
  padding-top: 32px;
  margin-top:  32px;
  p {
    font-size: 16px;
    color: @gray;

    .space {
      padding: 0 12px;
    }

    a {
      color: inherit;
    }
  }
}

.main {
	// width: 1200px;
	// margin: 0px auto;
	.intro-banner {
		background: transparent url("../img/banner.png") no-repeat top center;
		width: 446px;
		margin: 0 auto;
		text-transform: uppercase;
		font-weight: bold;
		height: 39px;
		color: #FFF;
		padding: 14px 0px 0px 0px;
		text-align: center;
    .embossed();
	}
}

.purpose {
	margin: 0 auto;
	width: 700px;
	p {
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		padding: 0 30px;
		margin: 0.5em 0;
	}
	.shrink {
		padding: 0;
		letter-spacing: -2px;
		span {
			padding: 15px;
		}
	}
}

.row.separate {
  margin-top: 72px;
}

.subject {
  text-align: center;
  .caption {
    margin-top: 4px;
    font-size: 16px;
  }
}

.map-callout-wrapper {
  z-index: 99;

  .map-callout {
    position: absolute;
    padding: 18px;
    background: white;
    z-index: 99;
    .box-shadow(0 0 12px, 60%);
    margin-top: -224px;
    p {
      font-size: 20px;
      line-height: 24px;
      color: black;
    }
  }
}

.sponsors {
  text-align: center;

  p {
    font-size: 16px;
    font-weight: bold;
    color: @gray;
    .embossed();
  }

  ul {
    li {
      list-style-type: none;
      padding-left: 10px;
      margin-bottom: 10px;
      display: inline-block;
    }
    li:first {
      padding-left: 0;
    }
  }
}

.map-canvas-wrapper {
  width: 100%;
  background: #fff;
  padding: 12px 0;
  margin: 48px 0;
  .multi-box-shadow(0 5px 5px, 0 -5px 5px, 20%);

  #map-canvas {
    width: 100%;
    height: 380px;
  }
}

// MEDIA QUERIES

// big desktop
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 979px) and (max-width: 1199px) {
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 361px;
    margin: 0;
  }

  .map-callout-wrapper .map-callout p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 978px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }

  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 168px;
    margin: 0;
  }

  .map-callout-wrapper .map-callout p {
    font-size: 14px;
  }
}

// landscape phone to small desktop & portrait tablet
@media only screen and (min-width: 481px) and (max-width: 767px) {
  body { padding-left: 0; padding-right: 0; }
  nav { padding-left: 20px; padding-right: 20px; }

  .navbar-fixed-top { margin-bottom: 0; }

  header {
    margin-left: -20px;
    .wrapitup p {
      width: 520px;
      padding: 266px 0 0 0;
      margin: 0;
    }
  }

  .purpose {
    width: 480px;
    p { font-size: 22px; }
  }

  .map-callout-wrapper .map-callout p {
    font-size: 14px;
  }

  footer p .space { display: block; }
}

// landscape phone
@media (max-width: 480px) {
  body { padding-left: 0; padding-right: 0; }
  nav { padding-left: 20px; padding-right: 20px; }

  .navbar-fixed-top { margin-bottom: 0; }
  header {
    margin-left: -143px;
    .wrapitup p {
      width: 359px;
      padding: 266px 0 0 24px;
      margin: 0;
      font-size: 22px;
    }
  }

  .purpose {
    width: 400px;
    margin-left: -18px;
    p { font-size: 16px; }
    .shrink {
      letter-spacing: -1px;
    }
  }

  .main .intro-banner {
    margin-left: -42px;
  }

  .map-callout-wrapper .map-callout p {
    font-size: 14px;
  }

  footer p .space { display: block; }
}

