@boxShadow: 0px 0px 15px #000;
@offWhite: #F2EFCE;

body {
	z-index: 0;
	height: 1200px;
	background-color: #f4f3ea;
  // letter-spacing: 1px;
}

.navbar {
	text-transform: uppercase;

  .navbar-inner {
    background: black;
    color: white;
  }

  .nav, p {
    font-size: 18px;
    font-weight: bold;
  }

  .nav > li > a {
    color: white;
  }

  p {
    text-align: center;
    float: right;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #C8602C;
    line-height: 43px;
    width: 300px;
  }

	// ul {
	// 	float: left;
	// 		li {
	// 		display: inline;
	// 		padding: 0 10px;
	// 		a {
	// 			color: white;
	// 			text-decoration: none;
	// 			line-height: 43px;
	// 		}
	// 	}
	// }

	// p {
	// 	text-align: center;
	// 	float: right;
	// 	margin: 0;
	// 	margin-top: 0;
	// 	margin-bottom: 0;
	// 	background-color: #C8602C;
	// 	line-height: 43px;
	// 	width: 300px;
	// }

	z-index: 99;
	-webkit-box-shadow: @boxShadow;
}

header {
	background: transparent url('../img/header-bg.png') no-repeat center -10px;
	height: 500px;
	margin: 0 auto;
	color: white;
	width: 1200px;
	//-moz-transform: rotate(-1deg);
	//-webkit-transform: rotate(-1deg);
	//-moz-box-shadow: $boxShadow;
	//-webkit-box-shadow: $boxShadow;
	.wrapitup {
		color: @offWhite;
		margin: 0 auto;
		width: 960px;
		-webkit-transform: rotate(-4deg);
       -moz-transform: rotate(-4deg);
            transform: rotate(-4deg);
		font-weight: bold;
		font-size: 30px;
    line-height: 40px;
		p {
			width: 520px;
			padding: 215px 0 0 460px;
			margin: 0;
		}
	}
}

.main {
	// width: 1200px;
	// margin: 0px auto;
	.intro-banner {
		background: transparent url("../img/banner.png") no-repeat top center;
		width: 446px;
		margin: 0 auto;
		text-transform: uppercase;
		font-weight: bold;
		height: 39px;
		color: #FFF;
		padding: 14px 0px 0px 0px;
		text-align: center;
	}
}

.purpose {
	margin: 0 auto;
	width: 680px;
	p {
		font-size: 36px;
		font-weight: bold;
		text-align: center;
		padding: 0 30px;
		margin: 0.5em 0;
	}
	.shrink {
		padding: 0;
		letter-spacing: -2px;
		span {
			padding: 15px;
		}
	}
}

.row.separate {
  margin-top: 72px;
}

.subject {
  text-align: center;
  .caption {
    font-size: 16px;
  }
}

// big desktop
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 979px) and (max-width: 1199px) {
  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 361px;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 978px) {
  .navbar-fixed-top {
    margin-bottom: 0;
  }

  header .wrapitup p {
    width: 520px;
    padding: 266px 0 0 168px;
    margin: 0;
  }
}

// landscape phone
@media (max-width: 480px) {
  .navbar-fixed-top { margin-bottom: 0; }
  header {
    margin-left: -143px;
    .wrapitup p {
      width: 520px;
      padding: 266px 0 0 0;
      margin: 0;
      font-size: 26px;
    }
  }
}

// landscape phone to small desktop & portrait tablet
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .navbar-fixed-top { margin-bottom: 0; }
  header {
    margin-left: -20px;
    .wrapitup p {
      width: 520px;
      padding: 266px 0 0 0;
      margin: 0;
    }
  }
}

