@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

@boxShadow: 0px 0px 8px #000;
@white: #fff;
@offWhite: #F2EFCE;
@black: #101010;
@grayDark: lighten(@black, 40%);
@gray: lighten(@black, 60%);
@grayLighter: #CCCBBE;

// colorscheme
@theme-blue:   #33A0BC;
@theme-green:  #AFC04D;
@theme-orange: #C95F38;

// mixins
.border-bottom-radius(@radius: 2px) {
  -webkit-border-bottom-left-radius: @radius;
  -webkit-border-bottom-right-radius: @radius;
     -moz-border-bottom-left-radius: @radius;
     -moz-border-bottom-right-radius: @radius;
          border-bottom-left-radius: @radius;
          border-bottom-right-radius: @radius;

   -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
           background-clip: padding-box;
}
.border-radius(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}

.antialias() {
  -webkit-font-smoothing: antialiased;
}

.embossed() {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.box-shadow(@style, @c) when (iscolor(@c)) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
.box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
  .box-shadow(@style, rgba(0, 0, 0, @alpha));
}
.multi-box-shadow(@style1, @style2, @alpha: 50%) {
  box-shadow:         @style1 rgba(0, 0, 0, @alpha), @style2 rgba(0, 0, 0, @alpha);
  -webkit-box-shadow: @style1 rgba(0, 0, 0, @alpha), @style2 rgba(0, 0, 0, @alpha);
  -moz-box-shadow:    @style1 rgba(0, 0, 0, @alpha), @style2 rgba(0, 0, 0, @alpha);
}

// styling

body {
	z-index: 0;
	background-color: #f4f3ea;
  // letter-spacing: 1px;
  .antialias();
}

.navbar {
	text-transform: uppercase;
  z-index: 101;
  -webkit-box-shadow: @boxShadow;

  .navbar-inner {
    background: @black;
    color: @grayLighter;
		z-index:9999;
		position: relative;
  }

  .nav, .ticket-link {
    font-size: 18px;
    font-weight: bold;
  }

  .nav > li > a {
    color: @grayLighter;
		padding-bottom: 9px;
		line-height: 25px;
  }

  .ticket-link {
		span {
			width: 18px;
			position: absolute;
			height: 50px;
			top: 0;
		}
		span.ticket-left {
			background: url('../img/ticket_left.png') 0 0 no-repeat transparent;
			left: 0;
		}
		
		span.ticket-right {
			background: url('../img/ticket_right.png') 0 0 no-repeat transparent;
			right: 0px;
		}
		position: relative;
    float: right;
    margin: 0 18px -25px 0;
    width: 300px;
		a {
			background-color: #C8602C;
			width: 264px;
			margin: 0 0 0 18px;
	    text-align: center;
    	color: @white;
    	display: block;
    	line-height: 50px;
    	.embossed();	
		}
  }
}

.subnav {
	background: fade(@white, 95%);
	position: relative;
	z-index: 9998;

	.nav > li > a {
		font-weight: normal;
		text-shadow: none;
		color: @grayDark;
		font-size: 14px;
	}
	
	.nav > li > a:hover {
		color: @theme-blue;
	}
	
	.nav > li.active > a,
	.nav > li.active > a:hover {
		background-color: fade(#EFEFEF, 95%);
		color: @theme-blue;
	}
}

.header-wrapper {
	background: transparent url('../img/header-bg.png') no-repeat center 10px;
	height: 515px;
  width: 100%;
}

header {
	color: white;

	.wrapitup {
		color: @offWhite;
		margin: 0 auto;
		width: 960px;
		.rotate(-4deg);
		font-weight: bold;
		font-size: 30px;
    line-height: 40px;

    .heading {
      .embossed();
      width: 520px;
      padding: 233px 0 0 452px;
      margin: 0;
      small {
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: @offWhite;
      }
		}
	}
}

footer {
  background: @black;
  text-align: center;
  height: 120px;
  padding-top: 32px;
  margin-top:  32px;
  p {
    font-size: 16px;
    color: @gray;
    line-height: 24px;
    .space {
      padding: 0 12px;
    }

    a {
      color: inherit;
    }
  }
}

.section {
  margin-top: 38px;
}

.lead-callout {
  font-size: 40px;
  line-height: 1.3em;
  font-weight: bold;
  text-align: center;
	p {
		padding: 35px 115px 50px;
	}
}

.callout-1 { color: @theme-blue; }
.callout-2 { color: @theme-green; }
.callout-3 { color: @theme-orange; }

@register-button-height: 155px;

.register-announcement {
	margin-top: 26px;
	margin-bottom: 130px;
	.button {
		width: 300px;
		margin-left: 65px;
		float: left;
	  a {
	    .border-radius(12px);
	    background: lighten(@theme-blue, 10%);
	    color: lighten(@black, 10%);
	    display: block;
	    font-size: 26px;
	    font-weight: bold;
	    height:      @register-button-height;
	    line-height: @register-button-height;
	    text-align: center;
	    width: 100%;
	    cursor: url('../img/pointer-icon-big.gif'),auto;
      text-shadow: 0 1px 1px rgba(0,0,0,0.2);
      //.box-shadow(inset 0 -2px 5px rgba(0,0,0,0.1), inset 0 -1px 0 @theme-blue, 0 4px 0 darken(@theme-blue, 10%), 0 6px 4px rgba(0,0,0,0.3));
      -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1), inset 0 -1px 0 @theme-blue, 0 4px 0 darken(@theme-blue, 20%), 0 6px 4px rgba(0,0,0,0.3);
      -moz-box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1),  inset 0 -1px 0 @theme-blue, 0 4px 0 darken(@theme-blue, 20%), 0 6px 4px rgba(0,0,0,0.3);
      box-shadow: inset 0 -2px 5px rgba(0,0,0,0.1), inset 0 -1px 0 @theme-blue, 0 4px 0 darken(@theme-blue, 20%), 0 6px 4px rgba(0,0,0,0.3);
      .transition(background 1.5s ease-out);
	  }
    a:hover {
      background: @theme-blue;
    }
	}

  .description {
    color: @black;
    font-size: 24px;
    line-height: 30px;
  }

  ul li {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 5px;
    font-weight: bold;
  }
}

.row .span1.plushalf {
  width: @fluidGridColumnWidth * 2;
}

.main {
	.banner {
    padding: 14px;
    background: url('../img/banner.png') no-repeat center top transparent;
		min-height: 115px;

    p {
      text-align: center;
      padding: 8px 155px 0;
      color: @white;
      text-align: center;
      font-size:   24px;
      line-height: 30px;
      small {
        color: @white;
        font-size: 15px;
        text-transform: uppercase;
        display: block;
        font-weight: bold;
        margin-bottom: 8px;
      }
    }
	}
}

.row.separate {
  margin-top: 53px;
}

.subject {
  text-align: center;
  .caption {
    margin-top: 24px;
    font-size: 18px;
		font-weight: bold;
  }
}

.paper-wrapper {
	position: relative;
	.container {
		z-index: 99;
		position: relative;
	}
	.paper {
		.rotate(-10deg);
	  background-color: rgba(255, 255, 255, 0.5);
	  bottom: -240px;
	  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2), 0 -5px 5px rgba(0, 0, 0, 0.2);
	  position: absolute;
	  top: 720px;
	  width: 88%;
	  z-index: 1;
	}
}

.map-canvas-wrapper {
	z-index: 99;
	position: relative;
  width: 100%;
  background: #fff;
  padding: 9px 0;
  margin: 97px 0 120px;
  .multi-box-shadow(0 5px 5px, 0 -5px 5px, 20%);

  #map-canvas {
    width: 100%;
    height: 380px;
  }
}

.map-callout-wrapper {
  z-index: 99;

  .map-callout {
    position: absolute;
    padding: 47px 0 26px 57px;
    background: url('../img/map_banner.png') no-repeat scroll 0 0 transparent;
    z-index: 99;
    margin-top: -244px;
    p {
      font-size: 20px;
      line-height: 24px;
      color: black;
			font-weight: bold;
    }
  }
}

.sponsors {
  text-align: center;
	min-height: 100px;
  p {
    font-size: 16px;
    font-weight: bold;
    color: @gray;
    .embossed();
  }

  ul {
    li {
      list-style-type: none;
      padding-left: 10px;
      margin-bottom: 10px;
      display: inline-block;
    }
    li:first {
      padding-left: 0;
    }
  }
}

.becomeSponsor {
	text-align: center;
	margin: 40px 20px 0;
	a {
		padding: 8px 12px;
		font-size: 16px;
		background-color: @theme-green;
		color: white;
		font-weight: bold;
    .border-radius(4px);
	}
}

.siteContent {
	.row {
		margin-bottom: 70px;
    font-size: 16px;
    line-height: 26px;
    .row {
      margin-bottom: 10px;
    }
	}
}

h1.banner {
  text-align: center;
  height: 69px;
  line-height: 80px;
  margin-bottom: 20px;
}

h1.banner-orange {
  background: url('../img/banner_orange_span10.png') center top no-repeat transparent;
}

h1.banner-blue {
  background: url('../img/banner_blue_span10.png') center top no-repeat transparent;
}

h1.banner-brown {
  background: url('../img/banner_brown_span10.png') center top no-repeat transparent;
}

h1.banner-gray {
  background: url('../img/banner_gray_span10.png') center top no-repeat transparent;
}

h1.banner-green {
  background: url('../img/banner_green_span10.png') center top no-repeat transparent;
}

.lab-image {
  text-align: center;
}

.callout {
  // width: 620px;
  font-size: 16px;
  line-height: 26px;
  // font-weight: 300;
  // margin-left: 80px;
  // padding: 0 80px;
}