<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>betascape schedule 2011</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Betascape is a weekend of Art and Technology in Baltimore MD. Come learn, connect, and create something with other artists, technologists, and everyone in between." />
  <meta name="author" content="Betascape, Friends of the Web, and Kyle Fritz">

  <link rel="image_src" href="img/betascape-fb.png" />
  <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug: http://filamentgroup.com/examples/iosScaleBug/ -->
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link href='http://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="stylesheets/screen.css">

  <script src="js/libs/modernizr-1.7.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>


  <!--
  <script src="http://processingjs.org/content/download/processing-js-1.2.3/processing-1.2.3.min.js"></script>
  <script>window.Processing || document.write("<script src='js/libs/processing-1.2.3.min.js'>\x3C/script>")</script>
  -->
  <script src='js/libs/processing-1.2.3.min.js'></script>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <script src="js/libs/jquery.scrollTo.js"></script>
  <!-- end scripts-->
</head>

<body lang="en">
  <section class="site-links">
      <nav>
       <ul>
        <li class="twenty-twelve"><a href="../">2012</a></li>
        <li class="home current"><a href="index.html">Home</a></li>
        <li class="schedule"><a href="schedule2011.html">Schedule</a></li>
        <li class="presenters"><a href="presenters2011.html">Presenters</a></li>
        <li class="venues"><a href="venues2011.html">Venues</a></li>
        <li><a href="index.html#sponsorship">Sponsors</a></li>
        <li class="about"><a href="about.html">About</a></li>
        <li class="register"><a href="http://betascape2011.eventbrite.com/">Register Now ($30)</a></li>
       </ul>
      <header class="date">
        The Weekend of September 23-25 in <a href="http://www.stationnorth.org/" target="_blank">Station North</a>
      </header>
      </nav>
  </section>
    <div class="ribbons">
    <script>
      ribbons=null;
      //called inside of processing to expose ribbons to js
      exposeRibbons=function(r){
        ribbons=r;
      }
      $(function(){
        $('#wrapper_container').mousemove(function(e){
          var offset=$('#container').position();
          if(typeof(ribbons)!="undefined"){
            ribbons.sometimesAddRibbon(e.pageX-offset.left+140,e.pageY);
          }
        });
      });
    </script>
    <canvas data-processing-sources="ribbons/misc.pde ribbons/Ribbon.pde ribbons/RibbonSet.pde ribbons/User_Interaction.pde ribbons/ribbons.pde"></canvas>
</div>

    <div id="wrapper_container">
    <div id="container">
      <header>
        <hgroup class="view-source">
         <a href="https://github.com/kylefritz/betascape-site-2011/blob/master/ribbons/RibbonSet.pde" target="_blank">View Source</a>
        </hgroup>
        <hgroup class="social">

          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#appId=250115545033321&xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>

          <div class="fb-like" data-href="http://betascape.org" data-send="false" data-layout="button_count" data-width="45" data-show-faces="false"></div>

          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://betascape.org" data-text="Art+Tech" data-via="betascape">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

          <!-- Place this tag where you want the +1 button to render -->
          <g:plusone size="medium"></g:plusone>

          <!-- Place this render call where appropriate -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>

        </hgroup>
        <hgroup class="logo">
          <h1>betascape</h1>
          <img id="facebook-thumb" src="img/betascape-fb.png" style="display:none" />
          <a href="/"><img src="img/betascape-2011-logo.png" width="344" /></a>
        </hgroup>
      </header>

      <script>
$(function(){
  betascape.changeCurrent('schedule')

  betascape.getPresenters(function(presenters){
      byPresentType=_.groupBy(presenters,function(presentor){return presentor.lectureType;});

      var workshops = byPresentType["Workshops"];
      var splitWorkshops=_.groupBy(workshops,function(p){return parseInt(p.trackNumber[0]);});

      byPresentType["Workshops @ Baltimore Node"]=splitWorkshops[1];
      byPresentType["Workshops @ Load of Fun Theatre"]=splitWorkshops[2];
      byPresentType["Workshops @ Hour Haus"]=splitWorkshops[3];
      delete byPresentType["Workshops"];

      var listTmpl=_.template($('#final-schedule-template').html());
      var html=listTmpl({byPresentType : byPresentType});

      $('.finalSchedule').prepend(html);

      var listTmplate=_.template($('#ccf').html());
      var htmlCCF=listTmplate({byPresentType : byPresentType});

      $('.ccf').append(htmlCCF);

      $('table.events .more').hide();
      $('table.events .exhibit-title').click(function(evt){
        var found = $(this).parent().find('.more').slideToggle();
        evt.preventDefault();
      });
  });
});

</script>
<script type="template" id="final-schedule-template">

  <% for(var presentType in byPresentType){ %>
   <% if(!(presentType == "Interactive Lounge")) { %>
   <% if(!(presentType == "CreateCamp Facilitator")) { %>
     <% var people=byPresentType[presentType]; %>
     <% people.sort(function(a,b) { return parseFloat(a.trackNumber) - parseFloat(b.trackNumber) } ); %>
  
      <header class="<%= presentType %>"><%= presentType %></header>
      <table class="events striped">
        <tr>
          <th width="4%">Starts</th>
          <th width="4%" >Ends</th>
          <th width="46%" class="lectures">
            <%= presentType %>
          </th>
          <th>Hosted By</th>
        </tr>
        <% _.each(people, function(person) { %>
            <tr>
              <td width="4%" ><%= person.startTime %></td>
              <td width="4%" ><%= person.endTime %></td>
              <td width="46%" class="lectures">
                <a class="exhibit-title" href="schedule2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>"><%= person.exhibitTitle %></a><br />
                <div class="more">
                  <%=person.atBetascape %>
                </div>
              </td>
              <td>
                <span><a href='presenters2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>'><%= person.name %></a></span>
                <% if(person.twitter){ %>
                      <a target="_blank" class="twitter" href='http://twitter.com/<%= person.twitter %>'><%= person.twitter %></a>
                <% } %>
              </td>
          </tr>
        <% }); %>
  
      </table>
    <% } %>
    <% } %>
  <% } %> 
  
  <header class="InteractiveLounge">Interactive Lounge</header>
  <% var people=byPresentType["Interactive Lounge"]; %>
    <ul class="interactive">
     <% _.each(people, function(person) { %>
        <% if(person.exhibitTitle){ %>      
          <li class='exhibit'>
            <h4>
              <%= person.exhibitTitle %>
            </h4>
            <p class="presenter">
              <a href='presenters2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>'><%= person.name %></a>
              <% if(person.twitter){ %>
                <a target="_blank" class="twitter" href='http://twitter.com/<%= person.twitter %>'><%= person.twitter %></a>
              <% } %>
            </p>
            <p class='description'><%= person.atBetascape %></p>
          </li>
         <% } %>
     <% }); %>
     </ul>
</script>

<script type="template" id="ccf">
  <div class="createcamp">
  <header class="lounge">Create Camp Facilitators</header>
  <% var people=byPresentType["CreateCamp Facilitator"]; %>
    <ul>
     <% _.each(people, function(person) { %>
          <li class='exhibit'>
            <p class="presenter">
              <a href='presenters2011.html#<%= person.name.replace('.', '').split(' ').join('').toLowerCase() %>'><%= person.name %></a>
              <% if(person.twitter){ %>
                <a target="_blank" class="twitter" href='http://twitter.com/<%= person.twitter %>'><%= person.twitter %></a>
              <% } %>
            </p>
            <p class='description'><%= person.atBetascape %></p>
          </li>
     <% }); %>
     </ul>
   </div>
</script>

<section class="exhibits2011">

  <header><h1>Betascape 2011 Schedule</h1></header>

  <h2 class="friday">Friday: Kickoff Events</h2>
  <div class="friday">
    <header><h3><a href="http://outletbaltimore.tumblr.com/">Outlet Baltimore</a></h3></header>
    <p>Outlet is dedicated time for bringing interesting people together offline to cut through the noise and enjoy good company. We believe that doing this has great, if perhaps unmeasurable, value.</p>

    <p>Accomplish that much first. Then, if the fit is right, we can talk a little business.</p>
    <header><h3><a href="http://www.literaturepartybaltimore.info/">Literature Party</a></h3></header>
    <p>A night of literature and party benefiting CityLit with BLAKE BUTLER and CACONRAD and DOTTIE LASKY and MIKE YOUNG and DJ John Eaton to spin off a dance party</p>
  </div>

  <h2 class="saturday_am">Saturday 9AM - 5PM: Lectures, Workshops &amp; Conversations</h2>
  <div class="finalSchedule">
  
    <header class="car">AFKFest 2011 Car Computer Festival & Speaker Series</header>
    <p>Mp3Car is hosting another one-of-a-kind show September 24, in Baltimore, Maryland. Come join computer hackers, car enthusiasts, techies, and audiophiles in a day of informative talks, car computer install presentations, socializing and innovating. In the morning, enjoy a free interactive speaker series on various topics on mobile computing.</p>
    <p>This year's AFKFest will be at Betascape 2011, an event made to showcase innovative technology through a series of exhibits, workshops, and social events. Now our forum member vehicles will join forces with the likes of all types of cutting edge, experimental, and interactive technology. Come for the weekend and check out this fun-filled and informative event.</p>
  </div>
  
  <h2 class="saturday_pm">Saturday Night</h2>
  <div class="saturday_pm">
    <header><h3><a href="/blockparty.html">Station North Block Party</a></h3></header>
    <p>After your day of learning &amp; listening, come relax or even rock out at the Station North Music Festival. This event is free and open to the public.</p> 

    <header><h3><a href="http://bytenyte.com/?p=291">Byte Nyte</a></h3></header>
    <p>See live 8-bit music and visuals at the Hour Haus for Betascape 2011.  This is a FREE SHOW. All ages show. Open Mic at 6 PM. Music by Temp Sound Solutions (BAL), Inverse Phase (VA) , Forever The Win (VA), Companion (MD) and DJ Cats (DC).  Visuals by Pixelseed (BAL). There will be a special musical guest from Betascape.</p>

    <p>Open Mic is first come first serve!</p>

    <p>This is a FREE SHOW at the Hour Haus in Baltimore, MD. Show time: 6 PM - 11 PM All ages show. BYOB. Open Mic at 6 PM.</p>
  </div>

  <h2 class="sunday">Sunday 9AM - 5PM: CreateCamp</h2>
  <div class="sunday">
    <p>Betascape attendees will be given space and in some cases resources, to come together to work on mini projects where they can explore new ideas and concepts that emerge from the series of Betascape events. Some CreateCamp projects will be preplanned and many will be the spontaneous result of inspiration and new ideas. From 4-5PM, CreateCamp Projects will be presented, and awards will be given for the most novel and innovative projects. Note: We will be making a list of facilitators public shortly and we encourage you to reach out to them if you want to collaborate with them on a project</p> 
    <div class="ccf"></div>
  </div>
</section>


      <footer class="credits">
        Site Designed by <a target="blank" href="http://friendsoftheweb.com">Friends of the Web</a> &bull;
        Developed by <a target="_blank" href="http://simplicitysignals.com">Kyle Fritz</a>
      </footer>

    </div>
    </div>
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix("img, .png_bg");</script>
  <![endif]-->

  <script>
    var _gaq=[["_setAccount","UA-16287734-1"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
